<div class="row">
    <div class="col-6 col-md-3">
        <h5 class="text-secondary">Pages</h5>
        <ul class="list-unstyled">
            <li><a class="link-secondary" href="/#info">Info/Github</a></li>
            <li><a class="link-secondary" href="/team">Team</a></li>
            <li><a class="link-secondary" href="/facility">Facility</a></li>
            <li><a class="link-secondary" href="/publication">Publication</a></li>
        </ul>
    </div>
</div>
<div class="col-12">
    <span>Logo</span>
    <small class="d-block mb-3 text-muted">© 2022-2023</small>
</div>