<!--nav bar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="--bs-bg-opacity: 0.95">
    <div class="container-fluid">
        <a class="px-2" href="/"><img alt="logo" src="/logo.png" style="width: 40px; height: 40px" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/#info">Info/Github</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/facility">Facility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/publication">Publication</a>
                </li>
                <p></p>
            </ul>
        </div>
    </div>
</nav>